<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
        <link rel="stylesheet" href="style.css">
        <title>BOOLFLIX</title>
    </head>
<body>
    <div id="app">
        <input type="text" v-model="textToSearch">
        <button @click="doSearch" >Cerca</button>
        <ul>
            <li v-for="result in finalList">
                <p>Titolo: {{result.title}}</p>
                <p>Titolo originale: {{result.original_title}}</p>
                <p>Lingua: {{result.original_language}}</p>
                <p>Voto: {{result.vote_average}}</p>
                <p>Nazioni compatibili con la lingua originale</p>
                <p v-for="flag in result.flags">
                    <span class="flag-icon" :class="flag"></span>
                </p>
            </li>
        </ul>
    </div>

    <script src="app.js"></script>
</body>
</html>