<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="style.css">
        <title>BOOLFLIX</title>
    </head>
<body>
    <div id="app">
        <header>
            <div class="logo-container">
                <img src="logo.png" alt="logo di boolflix">
            </div>
            <div class="whitespace"></div>

            <input @keyup.enter="doSearch" type="text" v-model="textToSearch">
        </header>
       
        <main>
            <div v-for="result in finalList">
                <div v-if="result.poster_path"  class="postercontainer">
                    <img :src="posterUri + posterSize + result.poster_path" alt="poster">
                    <div class="info">
                        <p> <strong>Titolo:</strong>  {{result.title}}</p>
                        <p> <strong>Titolo originale:</strong>  {{result.original_title}}</p>
                        <p> <strong>Voto</strong> </p>
                        <p>
                            <i v-for="fullstar in result.fullStars" class="fa fa-star" aria-hidden="true"></i><i v-for="emptystar in result.emptyStars" class="fa fa-star-o" aria-hidden="true"></i>
                        </p>
                        <!-- <p>Nazioni compatibili con la lingua originale</p>
                        <p v-for="flag in result.flags">
                            <span class="flag-icon" :class="flag"></span>
                        </p> -->
                        <p class="overview" v-if="result.overview"> <strong>Recensione:</strong>  {{result.overview}}</p>
                    </div>
                </div>    
            </div>
        </main>
    </div>
    <script src="app.js"></script>
</body>
</html>