* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: black;
}

header {
    width: 90%;
    margin: auto;
    padding: 25px 0;
    background-color: black;
    display: flex;
    align-items: center;
    position: relative;
}

.logo-container {
    height: 60px;
    width: 200px;
}

.logo-container img {
    width: 100%;
    height: 100%
}

.whitespace {
    flex-grow: 1;
}

.instruments{
    margin: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.instruments i{
    color: white;
    margin: 0 20px;
}

.search-menu{
    display: flex;
}

aside{
    width: 30%;
    height: 100%;
}

article{
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Netflix Sans';
}

.button{
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 16px;
    text-align: center;
} 

.dropdown{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.genre{
    padding: 5px;
    text-align: center;
}

.genre:hover{
    background-color: rgb(53, 53, 53);
}

input {
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;
    margin-right: calc(10% + 15px);
}

input:focus {
    outline: none;
}

.bar{
    width: 80%;
    margin: auto;
    height: 80px;
    font-size: 24px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sticker{
    display: flex;
}

.label{
    background-color: #DC1B27;
    color: black;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.selection{
    color: #DC1B27;
    padding: 5px;
    border-top: 1px solid #DC1B27;
    border-bottom: 1px solid #DC1B27;
    border-right: 1px solid #DC1B27;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

main {
    width: 90%;
    height: 100%;
    margin: auto;
    background-color: black;
    display: flex;
}

article{
    display: flex;
    justify-content: space-evenly;
}

.postercontainer {
    width: 160px;
    height: 250px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.postercontainer p {
    padding: 2px 0px 0px 0px;
}

.for-pop-up {
    position: relative;
    text-align: center;
}

.pop-up {
    margin-left: 10px;
}

.postercontainer .fa-chevron-down {
    position: absolute;
    right: 10px;
}

.postercontainer .img-container {
    width: 100%;
    height: 100%;
}

.img-container img{
    width: 100%;
    height: 100%;
}

.default-poster{
    object-fit: cover;
}

.postercontainer:hover img {
    opacity: .4;
    filter: blur(5px);
    transition: .3s;
}

.postercontainer:hover .info {
    display: flex;
    flex-direction: column;
}

.postercontainer .info {
    padding: 5px;
    width: 100%;
    height: 100%;
    color: lightgray;
    font-size: 14;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info p{
    position: relative;
    padding: 4px 0;
}

.info strong {
    color: white;
}

.info .fa-star, .info .fa-star-o {
    color: yellow;
}

.info .overview {
    overflow: scroll;
    position: relative;
    flex-grow: 1;
}

.overview:after {
    content: "";
    display: block;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), #000);
}

.loading-spinner-container{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.load{
    width: 120px
}


/* Loading Spinner from https://projects.lukehaas.me/css-loaders/ */
.loader {
    color: #DC1B27;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }


/* Media Queries */

@media screen and (max-width: 768px){
    main{
        width: 100%;
    }
    .instruments i{
       margin: 0 10px; 
    }
    .search-menu i{
        display: none;
    }
    .button{
        margin: 10px 0px 10px 10px;
        font-size: 10px;
    }
    .logo-container{
        width: 120px
    }
    .search-menu{
        width: 180px;
    }
}
  