* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    padding: 25px 0;
    background-color: black;
    display: flex;
    align-items: center;
    position: relative;
}

.logo-container {
    height: 60px;
    width: 200px;
    margin-left: calc(10% + 15px);
}

.logo-container img {
    width: 100%;
    height: 100%
}

.whitespace {
    flex-grow: 1;
}

.button {
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 20;
    right: 320px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    transition: .3s;
}
.addedclass{
   transform: translateY(-14px);
}

.genre{
    padding: 5px;
    text-align: center;
}

.genre:hover{
    background-color: rgb(53, 53, 53);
}

input {
    height: 30px;
    margin-right: 20px;
    border-radius: 10px;
    margin-right: calc(10% + 15px);
    ;
}

input:focus {
    outline: none;
}

.genrebar{
    height: 50px;
    font-size: 24px;
    text-align: center;
    color: white;
}

main {
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Netflix Sans';
}

.postercontainer {
    width: 200px;
    height: 300px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.postercontainer p {
    padding: 2px 0px 0px 0px;
}

.for-pop-up {
    position: relative;
    text-align: center;
}

.pop-up {
    margin-left: 10px;
}

.postercontainer .fa-chevron-down {
    position: absolute;
    right: 2px;
}

.postercontainer img {
    width: 100%;
    height: 100%;
    display: block;
}

.postercontainer:hover img {
    display: none;
}

.postercontainer:hover .info {
    display: flex;
    flex-direction: column;
}

.postercontainer .info {
    width: 100%;
    height: 100%;
    color: lightgray;
    font-size: 14;
    display: none;
}

.info strong {
    color: white;
}

.info .fa-star, .info .fa-star-o {
    color: yellow;
}

.info .overview {
    overflow: scroll;
    position: relative;
    flex-grow: 1;
}

.overview:after {
    content: "";
    display: block;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), #000);
}